---
layout: archive
title: "My Timeline"
permalink: /timeline/
author_profile: true
---
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/timeline.css"> 
<div class="container row">
    {% assign timeline = site.timeline | sort : 'date' %}
    {% for work in timeline reversed %}
    <div class="item">
        <i class="vertical-line"></i>
        <h2 class="item-date">{{ work.date | date: '%m/%Y' }}{% if work.enddate %} - {{ work.enddate | date: '%m/%Y' }}{% endif %}</h2>
        <div class="card-panel">
            <h3 class="card-title">
                {{ work.title }}
            </h3>
            <p>
                {{ work.content }}
            </p>
        </div>
    </div>
    {% endfor %}
    <div class="last-item">
        <i class="vertical-line"></i>
        
    </div>
    </div>
